{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My site{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href='{% static "style.css" %}'>
</head>
<body>

    <header>
        {% block header %}
        <h1>{{ title }}</h1>
        {% endblock %}
    </header>

    <menu>
        {% block menu %}
            <ul>
                <li><a href="http://127.0.0.1:8000">{{ text }}</a></li>
                <li><a href="http://127.0.0.1:8000/products/">{{ text_prod }}</a></li>
                <li><a href="http://127.0.0.1:8000/cart/">{{ text_cart }}</a></li>
            </ul>
        {% endblock %}
    </menu>

    <content>
        {% block content %}
        <ul>
            {% for product in production %}
            <li>
                <p>
                    {{ product | title }}
                    <button>{{ text_buy }}</button>
                </p>
            </li>
            {% endfor %}
        </ul>
        {% endblock %}
    </content>

    <footer>
        {% block footer %}
        <p>&copy;2024 My site</p>
        {% endblock %}
    </footer>
</body>
</html>