<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    <h2><i><u><b>{{ title }}</b></u></i></h2>
    <ul>
        <li><h3>{{ text_1 }} <button>{{ text_buy }}</button></h3></li>
        <li><h3>{{ text_2 }} <button>{{ text_buy }}</button></h3></li>
        <li><h3>{{ text_3 }} <button>{{ text_buy }}</button></h3></li>
    </ul>
    <p>
    <a href="http://127.0.0.1:8000/platform/"><button><h2>{{ text_back }}</h2></button></a>
    </p>
</body>
</html>